<%- include('partials/header.ejs') %>
    <main class="main">
        <!--===================================ABOUT======================================-->
        <section class="about section " id="about">

            <div class="bg_about">
                <div class="container_text">
                    <h2 class="title">
                        Conocer Mas
                    </h2>
                    <p class="text">
                        La pagina web esta dise単ada con ejs, CSS y Javascript para crear una expereinecia de Usuario atractiva e interactiva. La pagina es facil de navegar te permitira encontrar facilmente los juegos que deseas descargar
                    </p>
                    <div></div>
                </div>
            </div>
            <!--===================================SERVICIOS======================================-->
            <section class="portfolio section " id="service">
                <h2 class="section_title ">Servicios</h2>
                <span class="section_subtitle ">Que Ofrece la Pagina</span>

                <div class="portfolio_container container swiper-container ">
                    <div class="swiper-wrapper ">
                        <!--===================================Servicio 1======================================-->
                        <div class="portfolio_content grid swiper-slide ">
                            <img src="/img/Imagen_1.jpg " alt=" " class="portfolio_img ">
                            <div class="portfolio_data ">
                                <h3 class="portfolio_title ">Comparte tus creaciones con el resto del mundo.</h3>
                                <p class="portfolio_description ">Website adaptable to all devices, with ui components and animated interactions. </p>
                            </div>
                        </div>
                        <!--===================================PORTFOLIO 2======================================-->
                        <div class="portfolio_content grid swiper-slide ">
                            <img src="/img/Imagen_2.jpg " alt=" " class="portfolio_img ">
                            <div class="portfolio_data ">
                                <h3 class="portfolio_title ">Prueba distintos juegos.
                                </h3>
                                <p class="portfolio_description ">Descarga y prueba distintos juegos de la pagina, leyendo su descripcion su framework y cuales son sus especificaciones</p>

                            </div>
                        </div>
                        <!--===================================PORTFOLIO 3======================================-->
                        <div class="portfolio_content grid swiper-slide ">
                            <img src="/img/Imagen_3.jpg" alt=" " class="portfolio_img ">
                            <div class="portfolio_data ">
                                <h3 class="portfolio_title ">Aprende acerca el mundo del desarrollo de videojuegos
                                </h3>
                                <p class="portfolio_description ">Los juegos que ofrece nuestra pagina son creados en distintos framework entre ellos lua y love2d, 2 herramientas de programacion de codigo abierto que permiten a los desarrolladores crear juegos 2D de alta calidad.</p>
                            </div>
                        </div>
                        <!--===================================PORTFOLIO 4======================================-->
                        <div class="portfolio_content grid swiper-slide ">
                            <img src="/img/Online Store.jpg " alt=" " class="portfolio_img ">
                            <div class="portfolio_data ">
                                <h3 class="portfolio_title ">Calidad y seguridad
                                </h3>
                                <p class="portfolio_description ">Se procura que todoso los juegos que ofrecemos sean de alta calidad y esten libres de virus y malware. Ademas, siempree se podra dejar un comentario tanto en nuestrocorreo como en discord y telegram
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Add arrows-->
                    <div class="swiper-button-next ">
                        <img src="/svg/angle-right-b.svg " class="swiper-portfolio-icon "></i>
                    </div>
                    <div class="swiper-button-prev ">
                        <img src="/svg/angle-left-b.svg " class="swiper-portfolio-icon "></i>
                    </div>

                    <div class="swiper-pagination "></div>
                </div>
            </section>
            </div>
            <br>
            <br>
            <h2 class="section_title ">Equipo de Trabajo</h2>
            <span class="section_subtitle ">Creadores de Gamer Sites</span>
            <div class="about_card_container container grid">
                <div class="about_card">
                    <div class="about_head">
                        <div class="about_circle"></div>
                        <div class="about_img_circle">
                            <img src="/img/Programador.jpg" alt="">
                        </div>
                    </div>
                    <div class="about_description">
                        <h3>Abraham Gonzalez</h3>
                        <h4>Programador</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam soluta vitae ab incidunt voluptates veritatis facilis ipsum accusantium pariatur ut amet, eos eveniet cum minima asperiores quo quas debitis alias.</p>
                    </div>
                    <div class="about_contact">
                        <a href="contact">Contact</a>
                    </div>
                </div>
                <div class="about_card">
                    <div class="about_head">
                        <div class="about_circle"></div>
                        <div class="about_img_circle">
                            <img src="/img/Programador.jpg" alt="">
                        </div>
                    </div>
                    <div class="about_description">
                        <h3>Sergio Hurtado</h3>
                        <h4>Programador</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam soluta vitae ab incidunt voluptates veritatis facilis ipsum accusantium pariatur ut amet, eos eveniet cum minima asperiores quo quas debitis alias.</p>
                    </div>
                    <div class="about_contact">
                        <a href="contact">Contact</a>
                    </div>
                </div>
                <div class="about_card">
                    <div class="about_head">
                        <div class="about_circle"></div>
                        <div class="about_img_circle">
                            <img src="/img/Programador.jpg" alt="">
                        </div>
                    </div>
                    <div class="about_description">
                        <h3>Oscar Tirado</h3>
                        <h4>Dise単o de Base de Datos/Backend</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam soluta vitae ab incidunt voluptates veritatis facilis ipsum accusantium pariatur ut amet, eos eveniet cum minima asperiores quo quas debitis alias.</p>
                    </div>
                    <div class="about_contact">
                        <a href="#">Contact</a>
                    </div>
                </div>
                <div class="about_card">
                    <div class="about_head">
                        <div class="about_circle"></div>
                        <div class="about_img_circle">
                            <img src="/img/Programador.jpg" alt="">
                        </div>
                    </div>
                    <div class="about_description">
                        <h3>Valentina Salaverria</h3>
                        <h4>Dise単adora</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam soluta vitae ab incidunt voluptates veritatis facilis ipsum accusantium pariatur ut amet, eos eveniet cum minima asperiores quo quas debitis alias.</p>
                    </div>
                    <div class="about_contact">
                        <a href="contact">Contact</a>
                    </div>
                </div>
                <div class="about_card">
                    <div class="about_head">
                        <div class="about_circle"></div>
                        <div class="about_img_circle">
                            <img src="/img/Programador.jpg" alt="">
                        </div>
                    </div>
                    <div class="about_description">
                        <h3>Rafael Ceballos</h3>
                        <h4>Programador Frontend</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam soluta vitae ab incidunt voluptates veritatis facilis ipsum accusantium pariatur ut amet, eos eveniet cum minima asperiores quo quas debitis alias.</p>
                    </div>
                    <div class="about_contact">
                        <a a href="contact">Contact</a>
                    </div>
                </div>
                <div class="about_card">
                    <div class="about_head">
                        <div class="about_circle"></div>
                        <div class="about_img_circle">
                            <img src="/img/Programador.jpg" alt="">
                        </div>
                    </div>
                    <div class="about_description">
                        <h3>Maria Reyes</h3>
                        <h4>Dise単adora</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam soluta vitae ab incidunt voluptates veritatis facilis ipsum accusantium pariatur ut amet, eos eveniet cum minima asperiores quo quas debitis alias.</p>
                    </div>
                    <div class="about_contact">
                        <a href="contact">Contact</a>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <%- include('partials/footer.ejs') %>
        <!--===================================SCROLL TOP======================================-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class="uil uil-arrow-up scrollup_icon"></i>
        </a>

        <%- include('partials/script.ejs') %>

            </body>

            </html>