<%- include('partials/header.ejs') %>
    <main class="main">
        <!--===================================ABOUT======================================-->
        <section class="about section " id="about">
            <div class="bg_catalogo">
                <div class="container_text">
                    <h2 class="title">
                        Catalogo
                    </h2>
                    <p class="text">
                        La pagina web esta diseñada con ejs, CSS y Javascript para crear una expereinecia de Usuario atractiva e interactiva. La pagina es facil de navegar te permitira encontrar facilmente los juegos que deseas descargar
                    </p>
                    <a href=" " type="submit " class="button_about button--flex " value="Enviar ">
                Conocer Mas
                <i class="uil uil-message button_icon "></i>
                    </a>
                    <div></div>
                </div>
            </div>
        </section>
    </main>

    <%- include('partials/footer.ejs') %>
        <!--===================================SCROLL TOP======================================-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class="uil uil-arrow-up scrollup_icon"></i>
        </a>

        <%- include('partials/script.ejs') %>