<%- include('partials/header.ejs') %>
    <main class="main">
        <!--===================================CONTACT ME======================================-->
        <section class="contact section " id="contact ">
            <h2 class="section_title ">Contact Me</h2>
            <span class="section_subtitle ">Get in Touch</span>

            <div class="contact_container container grid ">
                <div>
                    <div class="contact_information ">
                        <i class="uil uil-phone contact_icon "></i>
                        <div>
                            <h3 class="contact_title ">Call Me</h3>
                            <span class="contact_subtitle ">+58-000-000-0000</span>
                        </div>
                    </div>

                    <div class="contact_information ">
                        <i class="uil uil-envelope contact_icon "></i>
                        <div>
                            <h3 class="contact_title ">Email</h3>
                            <span class="contact_subtitle ">example@gmail.com</span>
                        </div>
                    </div>

                    <div class="contact_information ">
                        <i class="uil uil-map-marker contact_icon "></i>
                        <div>
                            <h3 class="contact_title ">Location</h3>
                            <span class="contact_subtitle ">Venezuela - San Juan de los Morros</span>
                        </div>
                    </div>
                </div>

                <form action="https://formsubmit.co/agonzalezmora2@gmail.com " method="POST " class="contact_form grid ">
                    <div class="contact_inputs grid ">
                        <div class="contact_content ">
                            <label for="Name " class="contact_label ">Nombre</label>
                            <input type="text " class="contact_input ">
                        </div>
                        <div class="contact_content ">
                            <label for="Email " class="contact_label ">Email</label>
                            <input type="email " class="contact_input ">
                        </div>
                    </div>
                    <div class="contact_content ">
                        <label for="Mensaje " class="contact_label ">Mensaje</label>
                        <textarea name=" " id=" " cols="0 " rows="7 " class="contact_input "></textarea>
                    </div>
                    <div>
                        <a href=" " type="submit " class="button button--flex " value="Enviar ">
                        Send Message
                        <i class="uil uil-message button_icon "></i>
                    </a>
                    </div>
                </form>
            </div>
        </section>

    </main>

    <%- include('partials/footer.ejs') %>
        <%- include('partials/script.ejs') %>

            </body>

            </html>