<body>
    <%- include('partials/header.ejs') %>
        <!--===================================MAIN======================================-->
        <main class="main">
            <!--===================================HOME======================================-->
            <section class="home" id="home">
                <div class="home_bg " id="home">
                    <div class="home_text ">
                        <h1 class="section_title_head "> GAMER SITE</h1>
                        <h3 class="section_subtitle_head ">Lugar donde puedes mostrar al mundo tus habilidades</h3>
                        <p class="section_subtitle_head ">El unico limite es tu creatividad
                    </div>
                    <div class="home_scroll section_subtitle ">
                        <a href="#about " class="home_scroll-button button--flex ">
                            <img src="/svg/mouse-purple.png" class="home_scroll-mouse icon_home "></i>
                            <span class="home_scroll-name "> Scroll down</span>
                            <i class="uil uil-arrow-down home_scroll-arrow "></i>
                        </a>
                    </div>
                </div>
            </section>

            <!--===================================ABOUT======================================-->
            <div class="bg_about">
                <div class="container_text">
                    <h2 class="title">
                        Conoce Mas
                    </h2>
                    <p class="text">
                        La pagina web esta diseñada con ejs, CSS y Javascript para crear una expereinecia de Usuario atractiva e interactiva. La pagina es facil de navegar te permitira encontrar facilmente los juegos que deseas descargar
                    </p>
                    <a href="about" type="submit " class="button_about button--flex " value="Enviar ">
            Conocer Mas
            <i class="uil uil-message button_icon "></i>
                </a>
                    <div></div>
                </div>
            </div>

            <!--===================================Catalogo======================================-->
            <div class="bg_catalogo">
                <div class="container_text">
                    <h2 class="title">
                        Catalogo
                    </h2>
                    <p class="text">
                        La pagina web esta diseñada con ejs, CSS y Javascript para crear una expereinecia de Usuario atractiva e interactiva. La pagina es facil de navegar te permitira encontrar facilmente los juegos que deseas descargar
                    </p>
                    <a href="Catalogo" type="submit " class="button_about button--flex " value="Enviar ">
            Conocer Mas
            <i class="uil uil-message button_icon "></i>
                </a>
                    <div></div>
                </div>
                <!--================================ PORTFOLIO 1=================================-->

            </div>

        </main>
        <!--===================================FOOTER======================================-->
        <%- include('partials/footer.ejs') %>
            <!--===================================SCROLL TOP======================================-->
            <a href="#" class="scrollup" id="scroll-up">
                <i class="uil uil-arrow-up scrollup_icon"></i>
            </a>

            <%- include('partials/script.ejs') %>


</body>

</html>