<%- include('partials/header.ejs') %>
    <!--===================================MAIN======================================-->
    <main class="main">
        <!--===================================HOME======================================-->
        <section class="home" id="home">
            <div class="home_bg " id="home">
                <div class="home_text ">
                    <h1 class="section_title_head "> GAMER SITE</h1>
                    <h3 class="section_subtitle_head ">Lugar donde puedes mostrar al mundo tus habilidades</h3>
                    <p class="section_subtitle_head ">El unico limite es tu creatividad
                </div>
                <div class="home_scroll section_subtitle ">
                    <a href="#about " class="home_scroll-button button--flex ">
                        <img src="/svg/mouse-purple.png" class="home_scroll-mouse icon_home "></i>
                        <span class="home_scroll-name "> Scroll down</span>
                        <i class="uil uil-arrow-down home_scroll-arrow "></i>
                    </a>
                </div>
            </div>
        </section>

        <!--===================================ABOUT======================================-->
        <div class="bg_about">
            <div class="container_text">
                <h2 class="title">
                    GAMER SITES
                </h2>
                <p class="text">
                    La pagina web esta diseñada con ejs, CSS y Javascript para crear una expereinecia de Usuario atractiva e interactiva. La pagina es facil de navegar te permitira encontrar facilmente los juegos que deseas descargar
                </p>
                <a href="about" type="submit " class="button_about button--flex " value="Enviar ">
            Conocer Mas
            <i class="uil uil-message button_icon "></i>
                </a>
                <div></div>
            </div>
        </div>

        <!--===================================Catalogo======================================-->
        <div class="bg_catalogo">
            <div class="container_text">
                <h2 class="title">
                    Catalogo
                </h2>
                <p class="text">
                    La pagina web esta diseñada con ejs, CSS y Javascript para crear una expereinecia de Usuario atractiva e interactiva. La pagina es facil de navegar te permitira encontrar facilmente los juegos que deseas descargar
                </p>
                <a href="Catalogo" type="submit " class="button_about button--flex " value="Enviar ">
            Conocer Mas
            <i class="uil uil-message button_icon "></i>
                </a>
                <div></div>
            </div>
            <!--================================ PORTFOLIO 1=================================-->
            <div class="services_content ">
                <div>
                    <h3 class="services_title ">PONG</h3>
                </div>

                <div class="services_modal">

                    <div class="services_modal-content">
                        <div class="about_container container grid">
                            <img src="/img/Pong.PNG " alt=" " class="services_image ">

                            <ul class="services_modal-services grid">
                                <li class="services_modal-service ">
                                    <p>Nombre: </p>
                                    <p>PONG</h4>
                                </li>
                                <li class="services_modal-service">
                                    <p>Fecha de Creacion:</p>
                                    <p>2023</p>
                                </li>
                                <li class="services_modal-service">
                                    <p>Framework:</p>
                                    <img src="/img/Love.png" class="modal_image">
                                </li>
                                <li class="services_modal-service ">
                                    <p>Autor:</p>
                                    <p>Administrador</h4>
                                </li>
                                <li class="services_modal-service ">
                                    <p>Categoria:</p>
                                    <p>Juego de mesa</p>
                                </li>
                                <li class="services_modal-service ">
                                    <p>Y listo!</p>
                                    <div>
                                        <a download="PONG " href="/Descargables/PONG.rar " class="button button--flex ">
                                                        Descarga Ya
                                                        <img src= "/svg/arrow-to-bottom.svg " class="button_icon icon "></i>
                                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <i class="uil uil-times services_modal-close "></i>


                    </div>
                </div>
            </div>
        </div>

        <section class="services section " id="portfolio ">
            <h2 class="section_title ">Catalogos</h2>
            <span class="section_subtitle ">Actuales Juegos Disponibles</span>

            <div class="services_container container grid ">
                <!--================================ PORTFOLIO 1=================================-->
                <div class="services_content ">
                    <div>
                        <h3 class="services_title ">PONG</h3>
                    </div>

                    <div class="services_modal">

                        <div class="services_modal-content">
                            <div class="about_container container grid">
                                <img src="/img/Pong.PNG " alt=" " class="services_image ">

                                <ul class="services_modal-services grid">
                                    <li class="services_modal-service ">
                                        <p>Nombre: </p>
                                        <p>PONG</h4>
                                    </li>
                                    <li class="services_modal-service">
                                        <p>Fecha de Creacion:</p>
                                        <p>2023</p>
                                    </li>
                                    <li class="services_modal-service">
                                        <p>Framework:</p>
                                        <img src="/img/Love.png" class="modal_image">
                                    </li>
                                    <li class="services_modal-service ">
                                        <p>Autor:</p>
                                        <p>Administrador</h4>
                                    </li>
                                    <li class="services_modal-service ">
                                        <p>Categoria:</p>
                                        <p>Juego de mesa</p>
                                    </li>
                                    <li class="services_modal-service ">
                                        <p>Y listo!</p>
                                        <div>
                                            <a download="PONG " href="/Descargables/PONG.rar " class="button button--flex ">
                                            Descarga Ya
                                            <img src= "/svg/arrow-to-bottom.svg " class="button_icon icon "></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <i class="uil uil-times services_modal-close "></i>


                        </div>
                    </div>
                </div>

                <!--================================ PORTFOLIO 2=================================-->
                <div class="services_content ">
                    <div>
                        <h3 class="services_title ">CAZADOR DE QUESO</h3>
                    </div>

                    <div class="services_modal ">

                        <div class="services_modal-content ">
                            <div class="about_container container grid ">
                                <img src="/img/Reserved.jpg " alt=" " class="services_image ">

                                <ul class="services_modal-services grid ">
                                    <li class="services_modal-service ">
                                        <p>Nombre: </p>
                                        <p>Cazador de Queso</h4>
                                    </li>
                                    <li class="services_modal-service ">
                                        <p>Fecha de Creacion:</p>
                                        <p>2022</p>
                                    </li>
                                    <li class="services_modal-service ">
                                        <p>Framework:</p>
                                        <img src="/img/Love.png " class="modal_image ">
                                    </li>
                                    <li class="services_modal-service ">
                                        <p>Autor:</p>
                                        <p>Usuario</h4>
                                    </li>
                                    <li class="services_modal-service ">
                                        <p>Categoria:</p>
                                        <p>Plataforma</p>
                                        <img src=" ">
                                    </li>
                                    <li class="services_modal-service ">
                                        <p>Aun en desarrollo</p>
                                        <div>
                                            <a disable download="PONG " href="/Descargables/PONG.rar " class="button button--flex ">
                                            Descarga Ya
                                            <img src= "/svg/arrow-to-bottom.svg" class="button_icon icon "></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <img src="/svg/times.svg" class="services_modal-close icon">
                        </div>
                    </div>
                </div>

            </div>
        </section>

    </main>
    <!--===================================FOOTER======================================-->
    <%- include('partials/footer.ejs') %>
        <!--===================================SCROLL TOP======================================-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class="uil uil-arrow-up scrollup_icon"></i>
        </a>

        <%- include('partials/script.ejs') %>


            </body>

            </html>