* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background: rgb(101, 32, 167);
    line-height: 70px;
    position: fixed;
    width: 100%;
}

label {
    line-height: 80px;
    font-size: 2rem;
    font-weight: 300;
    color: white;
    margin-left: 50px;
    cursor: pointer;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    font-size: 1.2rem;
    padding: 6px 15px;
    font-weight: 600;
    background: linear-gradient(135deg, blueviolet, rgb(26, 16, 91));
    border-radius: 3px;
    border: 3px solid white;
}

nav ul li a:hover {
    background: linear-gradient(135deg, rgb(161, 70, 246), rgb(54, 37, 170));
    transition: .5s;
}

.side-menu-user {
    position: fixed;
    background: rgb(55, 17, 90);
    width: 250px;
    margin-top: 82px;
    height: 100vh;
}

.user_img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 30px;
    border: 3px solid white;
}

.side-menu-user center h2 {
    color: white;
}

.side-menu-user a {
    display: block;
    line-height: 60px;
    transition: 0.5s;
}

.side-menu-user a:hover {
    display: block;
    padding-left: 20px;
    transition: .5s;
}

.side-menu-user span {
    font-size: 1.1rem;
    margin-left: 20px;
    color: white;
}

.user-icon {
    padding-top: 10px;
    margin-left: 20px;
    width: 30px;
    height: 30px;
}

.user-icon-menu {
    padding-top: 10px;
    width: 40px;
    height: 42px;
}

nav .menu-bar {
    margin-top: 20px;
    float: right;
    margin-right: 20px;
    display: none;
}

#menu {
    display: none;
}

.side-menu-user .Logout {
    display: none;
}


/*========================BODY==========================*/

body {
    display: block;
    background-color: rgb(0, 0, 67);
}


/*========================SECTION==========================*/

section {
    display: flex;
    max-width: 780px;
    margin-left: 270px;
    margin-top: 60px;
}

.section_title_head {
    font-size: 2.3rem;
    margin-bottom: .870rem;
    font-weight: 500;
    color: #FFF;
}

.section_subtitle_head {
    display: block;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: #FFF;
}

.section_title {
    font-size: 4rem;
}

.section_subtitle {
    display: block;
    font-size: 1rem;
    margin-bottom: 3rem;
}

.home_text {
    text-align: justify;
}


/**/


/*====================SIGNUP====================*/

.signup-title {
    font-size: var(--h1-font-size);
    font-weight: 500;
    position: relative;
}

.signup-box {
    position: absolute;
    max-width: 700px;
    width: 100%;
    height: auto;
    background: white;
    border: 2px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(20px);
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 25px 30px;
}

.signup-box form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box-register {
    width: calc(100%/2 - 20px);
    margin-bottom: 15px;
}

.user-details .input-box-register .details {
    font-weight: var(--font-medium);
    display: block;
    margin-bottom: 5px;
}

.user-details .input-box-register input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 1rem;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box-register input:focus,
.user-details .input-box-register input:valid {
    border-color: blueviolet;
}