@font-face {
    font-family: 'Gamer';
    src: url('../fonts/Gamer.ttf');
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background: rgb(101, 32, 167);
    line-height: 70px;
    position: fixed;
    width: 100%;
}

label {
    line-height: 80px;
    font-size: 2rem;
    font-weight: 300;
    color: white;
    margin-left: 50px;
    cursor: pointer;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    font-size: 1.2rem;
    padding: 6px 15px;
    font-weight: 600;
    background: linear-gradient(135deg, blueviolet, rgb(26, 16, 91));
    border-radius: 3px;
    border: 3px solid white;
}

nav ul li a:hover {
    background: linear-gradient(135deg, rgb(161, 70, 246), rgb(54, 37, 170));
    transition: .5s;
}

.side-menu-user {
    position: fixed;
    background: rgb(55, 17, 90);
    width: 250px;
    margin-top: 82px;
    height: 100vh;
}

.user_img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 30px;
    border: 3px solid white;
}

.side-menu-user center h2 {
    color: white;
}

.side-menu-user a {
    display: block;
    line-height: 60px;
    transition: 0.5s;
}

.side-menu-user a:hover {
    display: block;
    padding-left: 20px;
    transition: .5s;
}

.side-menu-user span {
    font-size: 1.1rem;
    margin-left: 20px;
    color: white;
}

.user-icon {
    padding-top: 10px;
    margin-left: 20px;
    width: 30px;
    height: 30px;
}

.user-icon-menu {
    padding-top: 10px;
    width: 40px;
    height: 42px;
}

nav .menu-bar {
    margin-top: 20px;
    float: right;
    margin-right: 20px;
    display: none;
}

#menu {
    display: none;
}

.side-menu-user .Logout {
    display: none;
}


/*=========== Opacidad ==========*/

:root {
    --opacidad-negro: 0.8;
}


/*========================BODY==========================*/

body {
    display: block;
    background-color: rgb(0, 0, 67);
}


/*========================SECTION==========================*/

.section {
    padding: 2rem 0 4rem;
}

section {
    display: flex;
    max-width: 780px;
    margin-left: 270px;
    margin-top: 55px;
}

.section_title_head {
    font-size: 2.3rem;
    margin-bottom: .870rem;
    font-weight: 500;
    color: #FFF;
}

.section_subtitle_head {
    display: block;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: #FFF;
}

.section_title {
    font-size: 4rem;
}

.section_subtitle {
    display: block;
    font-size: 1rem;
    margin-bottom: 3rem;
}

.home_text {
    text-align: justify;
}


/*==================SubMenu========================*/

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 0;
    margin: 0;
    /* oculta el submenu por defecto */
}

.submenu li {
    list-style: none;
    padding: 10px;
}

.submenu li:hover {
    background-color: #f8f8f8;
}

.submenu-trigger:hover .submenu {
    display: block;
    /* muestra el submenu cuando se hace hover sobre el elemento "Juegos" */
}


/*====================DASHBOARD====================*/

.table_section {
    padding: 10px 10px;
}

.table {
    align-items: center;
    margin-left: 140px;
    max-width: 900px;
    width: 100%;
}

.table_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.table_header p {
    color: black;
}

.input {
    padding: 10px 20px;
    margin: 0 10px;
}

.table_section {
    height: auto;
}

table {
    width: 820px;
    table-layout: fixed;
    min-width: 1000px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 10px;
}

thead th {
    position: sticky;
    top: 0;
    background-color: blueviolet;
    color: #FFF;
    font-size: .930rem;
    font-family: Arial, Helvetica, sans-serif;
}

th,
td {
    width: 230px;
    border-bottom: 1px solid #dddddd;
    padding: 8px 20px;
    word-break: break-all;
    text-align: justify;
    color: white;
    font-size: .870rem;
}


/*====================TEXT====================*/

.title {
    font-size: 100px;
    font-family: 'Gamer';
}

.subtitle {
    font-size: 40px;
}

.text {
    font-size: 18px;
    font-weight: 500px;
    margin: 20px 0;
    text-align: justify;
}

.container_text {
    flex-basis: 40%;
    padding-left: 40px;
    overflow: hidden;
    color: #fff;
}


/*====================DASHBOARD====================*/

.dashboard_bg {
    max-width: 780px;
}

.dashboard {
    max-width: 1300px;
    margin-left: 251.5px;
    margin-top: 10.5px;
}

.bg_dashboard {
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url(../img/Imagen_3.jpg);
    /*background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url(/public/img/Imagen_3.jpg);*/
    position: relative;
    height: 50vh;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0rem;
}

.btn_add {
    width: 325px;
    height: 100px;
}


/*====================DASHBOARD-ADD GAME====================*/

.section_title_head-dashboard {
    font-family: 'Gamer';
    font-size: 4.3rem;
    margin-bottom: .870rem;
    font-weight: 500;
    color: #FFF;
}

.label_input {
    line-height: 80px;
    font-size: 3rem;
    font-weight: 300;
    color: white;
    margin-left: 0px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-family: 'Gamer';
    font-weight: 400;
    margin-bottom: 2px;
}

.form-control {
    display: block;
    width: 740px;
    height: 45px;
    padding: 10px;
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.btn_submit {
    color: white;
    font-size: 1.2rem;
    padding: 6px 15px;
    font-weight: 600;
    background: linear-gradient(135deg, blueviolet, rgb(26, 16, 91));
    border-radius: 3px;
    border: 3px solid white;
    cursor: pointer;
}

.btn_submit:hover {
    background: linear-gradient(135deg, rgb(161, 70, 246), rgb(54, 37, 170));
    transition: .5s;
}