<section class="footer ">
    <div class="footer_bg ">
        <div class="footer_container container grid ">
            <div>
                <h1 class="footer_title ">GAMER SITES</h1>
                <span class="footer_subtitle ">Mas proximamente</span>
            </div>

            <ul class="footer_links ">
                <li>
                    <a href="#Servicios" class="footer_link ">Servicios</a>
                </li>
                <li>
                    <a href="contact" class="footer_link ">Contactanos</a>
                </li>
            </ul>
            <div class="footer_socials ">
                <a href="https://www.facebook.com/ " target="_blank " class="footer_social ">
                    <img src="/svg/facebook-f.svg " class="footer_icon ">
                </a>
                <a href="https://www.instagram.com/ " target="_blank " class="footer_social ">
                    <img src="/svg/instagram.svg " class="footer_icon ">
                </a>
                <a href="https://www.twitter.com/ " target="_blank " class="footer_social ">
                    <img src="/svg/twitter-alt.svg " class="footer_icon ">
                </a>
                <a href="https://www.github.com/ " target="_blank " class="footer_social ">
                    <img src="/svg/github-alt.svg " class="footer_icon ">
                </a>
                <a href="https://www.linkedin.com/ " target="_blank " class="footer_social ">
                    <img src="/svg/linkedin-alt.svg " class="footer_icon ">
                </a>
            </div>
        </div>
        <p class="footer_copy ">&#169; Bedimcode. All right reserved </p>
    </div>
</section>