<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/img/Icon_Game.png">
    <!--===================================UNICONS======================================-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--=================================SWIPER CSS======================================-->
    <link rel="stylesheet" href="stylesheets/swiper-bundle.min.2.css">

    <!--=================================== CSS ======================================-->
    <link rel="stylesheet" href="stylesheets/main.css">

    <!--=================================== CSS ======================================-->
    <link rel="stylesheet" href="fonts/Gamer.ttf">

    <title>Gamer Site</title>
</head>

<body>
    <!--===================================HEADER======================================-->
    <header class="header" id="header">
        <nav class="nav nav_container">
            <img src="/img/Icon_Game.png" alt="" class="nav_img">
            <a href="/" class="nav_logo nav_title">  GAMER SITE</a>

            <div class="nav_menu" id="nav-menu">
                <ul class="nav_list grid">
                    <li class="nav_item">
                        <a href="/" class="nav_link active-link">
                            <i class="uil uil-estate nav_icon"></i>Home
                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="about" class="nav_link">
                            <i class="uil uil-user nav_icon"></i>About
                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="contact" class="nav_link">
                            <i class="uil uil-message nav_icon"></i>Contactme
                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="Catalogo" class="nav_link">
                            <i class="uil uil-scenery nav_icon"></i>Catalogo
                        </a>
                    </li>
                </ul>
                <i class="uil uil-times nav_close" id="nav-close"></i>
            </div>
            <div class="nav_btns">
                <i class="uil uil-moon change-theme" id="theme-button"></i>
                <div class="nav_toggle" id="nav-toggle">
                    <i class="uil uil-apps"></i>
                </div>
            </div>
        </nav>
    </header>