<%- include('sidebar.ejs') %>

    <body>
        <main class="main">
            <!--===================================HOME======================================-->
            <section class="home" id="juegos">
                <div class="home_bg " id="home">
                    <div class="home_text">
                        <h1 class="section_title_head ">Crea Tu juego</h1>
                        <p class="section_subtitle_head ">El unico limite es tu creatividad
                    </div>
                </div>
            </section>
        </main>
    </body>

    </html>