<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/img/Icon_Game.png">
    <!--===================================UNICONS======================================-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--=================================SWIPER CSS======================================-->
    <link rel="stylesheet" href="stylesheets/swiper-bundle.min.2.css">

    <!--=================================== CSS ======================================-->
    <link rel="stylesheet" href="stylesheets/user.css">

    <!--=================================== CSS ======================================-->
    <link rel="stylesheet" href="fonts/Gamer.ttf">

    <title>Welcome</title>
</head>

<header>

    <input type="checkbox" id="menu">

    <nav>
        <label>GAMER SITE</label>

        <ul>
            <li><a href="/logout">Logout</a></li>
        </ul>

        <label for="menu" class="menu-bar">
            <img src="/svg/bars.svg " class="user-icon-menu">
        </label>
    </nav>

    <div class="side-menu-user">
        <center>
            <img src="/img/Programador.jpg" class="user_img">
            <br><br>

            <h2>
                <%= userName %>
            </h2>
        </center>
        <br>
        <a href="home"><img src="/svg/home.svg " class="user-icon"></i><span>Home</span></a>
        <a href="dashboard"><img src="/svg/database.svg " class="user-icon"><span>Juegos</span></a>
        <a href="#"><img src="/svg/user.svg " class="user-icon"><span>Usuario</span></a>
        <a href="#"><img src="/svg/setting.svg " class="user-icon"><span>Setting</span></a>

        <a href="#" class="Logout"><span>Logout</span></a>

    </div>

    <br><br><br><br>
</header>



<!--<img src="/svg/github-alt.svg " class="usericon">-->