<%- include('sidebar.ejs') %>

    <body>
        <main class="main">
            <!--===================================HOME======================================-->
            <section class="home" id="home">
                <div class="home_bg " id="home">
                    <div class="home_text">
                        <h1 class="section_title_head ">Bienvenido
                            <%= userName %>! </h1>
                        <h3 class="section_subtitle_head ">Lugar donde puedes mostrar al mundo tus habilidades</h3>
                        <p class="section_subtitle_head ">El unico limite es tu creatividad
                    </div>
                </div>
            </section>
        </main>
    </body>

    </html>