<!--=================================== CSS ======================================-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/img/Icon_Game.png">
    <!--===================================UNICONS======================================-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--=================================SWIPER CSS======================================-->
    <link rel="stylesheet" href="stylesheets/swiper-bundle.min.2.css">

    <!--=================================== CSS ======================================-->
    <link rel="stylesheet" href="stylesheets/login-register.css">

    <!--=================================== CSS ======================================-->
    <link rel="stylesheet" href="fonts/Gamer.ttf">

    <title>Gamer Site</title>
</head>